<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <%= @customer.name %>さんのフォロー先一覧
</h3>
<div class="my-5">
  <% if @following_customers.count >= 1 %>
    <%= render "index", customers: @customers %>
  <% else %>
    <h4>フォローしている先はありません</h4>
  <% end %>
</div>