<% if @range == "Customer" %>
  <h2>会員を "<%= params[:word] %>" で検索</h2>
  <%= render "public/customers/index", customers: @customers %>
<% else %>
  <h2>大会を "<%= params[:word] %>" で検索</h2>
  <%= render "public/conventions/index", conventions: @conventions %>
<% end %>