<div class="text-center">
  <h4>
    Football_Scoringへようこそ！<br>
    このサイトでは皆さんにサッカーの試合について感想の投稿や選手等への採点を行っていただけます。<br>
    是非、サッカーの好きな皆様の交流を楽しんでください。
  </h4>
</div>
<p class="text-center" style="font-size:0.9rem;">
  ※採点基準について<br>
  当サイトでは1.0~10.0の範囲で点数をつけることができます。<br>
  目安として下記を参考にしてください。
</p>
<ul style="list-style-type:none;font-size:0.9rem;">
  <li>10点：普段はまずつけることのない点数。偉業を成し遂げたか、人命救助したときにつくような点数。</li>
  <li>～8.5点：大活躍で並び立つものがいないレベル。</li>
  <li>～7.5点：素晴らしい活躍をしていた。</li>
  <li>～6.5点：活躍していた。</li>
  <li>6点：及第点、平均点。</li>
  <li>～5.0点：良くなかった。</li>
  <li>～4.0点：ひどかった。</li>
  <li>～3.0点：全然だめだった。</li>
  <li>～1.0点：普段はまずつけることのない点数。</li>
</ul>
<div class="mt-3 text-center">
  <%= link_to "ゲストログイン", guest_sign_in_path, class: 'btn btn-secondary', method: :post %>
</div>
<div class="mt-3 text-center">
  <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-primary' %>
</div>
<div class="mt-3 text-center">
  <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-success' %>
</div>
<div class="mt-3 text-center">
  <%= link_to "管理者ログイン", new_admin_session_path, class: 'btn btn-primary' %>
</div>