<% if scoring.favorited_by?(current_customer) %>
  <%= link_to scoring_favorites_path(scoring), remote: true, method: :delete do %>
    <i class="fas fa-heart", style="color: red;"></i>
    <span style="color: red;"><%= scoring.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to scoring_favorites_path(scoring), remote: true, class: "text-secondary", method: :post do %>
    <i class="fas fa-heart"></i>
    <%= scoring.favorites.count %>
  <% end %>
<% end %>