<h3 class="px-2" style="width:fit-content;background-color:#e4e4e4;">
  <strong><%= @convention.name %></strong>
</h3>
<h4 class="px-2 mb-5 ml-5" style="width:fit-content;background-color:#e4e4e4;">出場チーム一覧</h3>
<ul class="row">
  <% @participating_teams.each do |participating_team| %>
    <li class="ml-5">
      <%= link_to team_path(participating_team.team_id) do %>
        <%= participating_team.team.name %>
      <% end %>
    </li>
  <% end %>
</ul>
<h4 class="px-2 ml-5" style="width:fit-content;background-color:#e4e4e4;">試合一覧</h4>
<%= render "public/matches/index", matches: @matches %>