<% if scoring.unfavorited_by?(current_customer) %>
  <%= link_to scoring_unfavorites_path(scoring), remote: true, method: :delete do %>
    <i class="fas fa-heart-broken", style="color: blue;"></i>
    <span style="color: blue;"><%= scoring.unfavorites.count %></span>
  <% end %>
<% else %>
  <%= link_to scoring_unfavorites_path(scoring), remote: true, class: "text-secondary", method: :post do %>
    <i class="fas fa-heart-broken"></i>
    <%= scoring.unfavorites.count %>
  <% end %>
<% end %>