<h3>大会一覧</h3>
<table>
  <tbody>
    <% Convention.all.each do |convention| %>
      <tr>
        <td>
          <div class="mt-1" style="font-size: 0.8rem;">
            <%= link_to convention_path(convention.id) do %>
              <%= convention.name %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-5 text-right"><%= link_to "大会一覧ページへ", conventions_path %></div>